<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bagicode.alfa3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.noActionBar">
        <activity android:name=".admin.panel.HomeAdminActivity"></activity>
        <activity android:name=".admin.sign.LoginAdminActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.EditProfileActivity" />
        <activity android:name="com.bagicode.alfa3.user.riwayat.RiwayatActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.tim.TimActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.pudding.PuddingActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.bubur.BuburActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.bubur.DetailBuburBesarActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.bubur.DetailBuburKecilActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.tim.DetailTimBesarActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.tim.DetailTimKecilActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.pudding.DetailPuddingActivity" />
        <activity android:name="com.bagicode.alfa3.user.log.register.RegisterPhotoscreenActivity" />
        <activity android:name="com.bagicode.alfa3.user.log.login.RegisterActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.HomeActivity" />
        <activity android:name="com.bagicode.alfa3.user.home.MenuActivity" />
        <activity android:name="com.bagicode.alfa3.user.log.login.LoginActivity" />
        <activity android:name="com.bagicode.alfa3.user.log.logout.LogoutActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>